.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:10px;
    width:100%;
    border-radius: 8px;
}

body{
    background-color: #232A45;
    font-family: Arial, sans-serif;
    padding: 15px;
    margin: 10px;
    color:rgb(217, 217, 217)
}
.navbar{
    background-color: rgba(43, 48, 120, 0.548);;
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-right: #232A45;
}
.navbar > a{
    text-decoration: none;
    color:rgb(217, 217, 217);
    border-right: 5px solid #181e32bc;
    padding-right: 5px;
}
a:hover{
    background-color: #181e328e;
}
img{
    width: 100%;
    height:auto;
    border-radius: 8px;

}
/* When in a smaller Screen*/
@media (max-width:1000px){
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

.dropdown{
    display:inline-block;
    position: relative
}
.dropdown-content {
    background-color: #2c1c8c;
    display: none;
    position: absolute;
    top:100%;
    left:0;
    

    
}

.dropdown:hover .dropdown-content{
    display: block
    
}


