.navbar{
    background-color: rgba(43, 48, 120, 0.902);;
    padding: 15px;
    margin: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

body{
    background-color: #232A45;
    font-family: Arial, sans-serif;
    padding: 15px;
    margin: 10px;
    color:rgb(217, 217, 217)
}


